extends layout

block content
  h1 Administrador de tareas
  .error
  form(name="formMain")
    input#nombe(type="text", name="nombre")
    input#uv(type="text", name="uv")
    input#descripcion(type="text", name="descripcion")
    input(type="submit", value="Guardar")
  table
    thead
      th nombre
      th uv
      th descripcion
      th opciones
    tbody.autos

  